*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 98%;
  /* height: 550px; */
  background-color: #E6E6E6;
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
}
.wrapper{
}
.topHeader{
  display: flex;
  justify-content: space-between;
  /* padding:0 20px 0 20px; */
}
.calcText{
  margin: 0;
  font-size: 20px;
  font-weight: lighter;
  color: #3D3D3D;
  padding: 10px 20px 10px 20px;

}
.icons{
  display: flex;
  /* gap: 45px; */
  
}
.fa-xmark{
  padding: 10px 20px 10px 20px;
}
.fa-xmark:hover{
  background-color: red;
}
.hoverI{
  padding: 10px 20px 10px 20px;

}
.hoverI:hover{
  background-color: #CFCFCF;
}
.icons > i{
  font-size: 20px;
  color: #3D3D3D;
}
/* bottom header */
.bottomHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
 /* padding:0 10px 0 10px; */

}
.bottomHeader > div > i{
  font-size: 20px;
  /* width: 35px;
  height: 35px; */
}
.leftSide{
  display: flex;
  align-items: center;
  gap: 25px;
   /* padding:0 10px 0 10px; */
}

.leftSide--text{
  margin: 0;
  font-size: 30px;
  font-weight: lighter;
} 
.fa-bars{
  padding: 30px;
}
.leftSide .fa-bars:hover{
  background-color: #CFCFCF;
}
.rigthSide{
  margin-right: 20px;
}

/* inputPart */
.input{
  margin-top: 10px;
  margin: 10px;
}
.input #calculator{
  width: 100%;
  padding: 30px 10px 20px 10px;
  background-color: #E6E6E6;
  font-size: 45px;
  border: none;
  text-align: right;
}
.input #calculator:focus{
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.Mpart{
  display: flex;
  justify-content: center;
}
.btn{
  width: 15%;
  border: none;
  background-color: #E6E6E6;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-chevron-down{
  font-size: 7px;
}

.Buttons{
  margin: 3px;
}
.Row{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}
.firstRow{
  margin-top: 10px;
}
.button{
  width: 24%;
  height: 65px;
  border: none;
  background-color: #FAFAFA;
  font-size: 20px;
  text-align: center;
}
.button:hover{
  background-color: #E6E6E6;
}
.Btn1{
  background-color: #F0F0F0;

}
.sup{
font-size: 12px;
}
.fa-bars{
  padding: 10px;
}
.items{
  display: flex;
  margin-top: 20px;

}
.items .item{
  list-style: none;
  padding-right: 25px;
  font-weight: bold;
  font-size: 23px;
  position: relative;
}
.item1::after{
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: orange;
  top: 35px;
  right: 0;
  left: 0;
}
.fa-clock-rotate-left{
  display: none;
}
.text-side{
  margin-top: 45px;
  font-size: 16px;
  font-weight: bolder;
}
/* responsive */

.icons-side{
  display: flex;
  justify-content: flex-end;
  padding: 0 0 10px 0;
}
.icons{
  display: none;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-0 {width: 0;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media only screen and (max-width: 768px) {
  .icons{
    display: flex;
  }
  .icons-side{
    display: none;
  }
  .fa-clock-rotate-left{
    display: inline;
  }
  .items{
    display: none;
  }
  .text-side{
    display: none;
  }
}